body {
    margin: 0px;
    padding: 0px;
    background-color: #e7d1c9;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px;
}

h2 {
    text-align: center;
    font-size: 60px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.instituicao, .sobre {
    text-align: start;
}

li {
    list-style: none;
    margin: 10px 0;
}

p {
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: clamp(15px, 2vw, 30px);
    box-sizing: border-box;
}

input {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: clamp(15px, 2vw, 20px);
    width: 25%;
    box-sizing: border-box;
}

textarea {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: clamp(15px, 2vw, 20px);
    width: 25%;
    height: 200px;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: clamp(15px, 2vw, 20px);
    width: 25%;
    box-sizing: border-box;
}

.conteudo {
    font-size: clamp(15px, 2vw, 30px);
    text-align: justify;
    justify-self: center;
    margin-bottom: 5px;
    width: 60%;
}

.parallax {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.descricao {
    justify-self: center;
    width: 25%;
}